[alias]
	# short aliases
	st = status
	co = checkout
	ci = commit
	br = branch
	lg = log -p
	ps = push origin HEAD
	psf = push origin HEAD --force-with-lease
[user]
	name = Adrien Gautier
	email = dev@adrgautier.co
[core]
	precomposeUnicode = true